name: Dependency Review

on:
  workflow_call:
    inputs:
      java-version:
        description: 'Optional Java version number'
        required: false
        default: 17
        type: number

permissions:
  contents: write          # needed for dependency submission API
  pull-requests: write     # needed because comment-summary-in-pr: always
  statuses: write          # needed to update commit status

jobs:
  dependency-review:
    name: Dependency Review
    if: github.event_name == 'pull_request' || github.event_name == 'push'
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout Repository
        if: github.event_name == 'pull_request'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00
        with:
          java-version: ${{ inputs.java-version }}
          distribution: adopt

      - name: Generate and submit dependency graph
        id: dependabot
        uses: gradle/actions/dependency-submission@06832c7b30a0129d7fb559bcc6e43d26f6374244

      - name: Dependency Review
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@67d4f4bd7a9b17a0db54d2a7519187c65e339de8
        with:
          fail-on-severity: critical
          fail-on-scopes: runtime
          comment-summary-in-pr: always
          show-openssf-scorecard: false
          license-check: false
      
      - name: Update commit status
        if: always()
        uses: braintree/security-workflows/.github/actions/commit-status@main
        with:
          state: ${{ job.status == 'success' && 'success' || 'failure' }}
          description: ${{ job.status == 'success' && 'Dependency review completed successfully.' || 'Dependency review failed.' }}
          context: dependency-review