name: Dependency Review

on:
  workflow_call:

permissions:
  contents: write
  pull-requests: write
  statuses: write

jobs:
  dependency-review:
    name: Dependency Review
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout repository
        if: github.event_name == 'pull_request'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
  
      - name: Dependency review
        if: github.event_name == 'pull_request'       
        uses: actions/dependency-review-action@67d4f4bd7a9b17a0db54d2a7519187c65e339de8
        with:
          fail-on-severity: critical
          fail-on-scopes: runtime
          comment-summary-in-pr: always
          show-openssf-scorecard: false
          license-check: false

      - name: Update commit status
        if: always()
        uses: braintree/security-workflows/.github/actions/commit-status@main
        with:
          state: ${{ job.status == 'success' && 'success' || 'failure' }}
          description: ${{ job.status == 'success' && 'Dependency review completed successfully.' || 'Dependency review failed.' }}
          context: ${{ env.STATUS_NAME }}